<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Smart Clinic Management System</title>
    
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body>

    <div class="container">
        <div class="wrapper">
            
            <div id="header"></div>
            
            <main class="main-content">
                
                <div class="dashboard-controls">
                    <input type="text" id="searchBar" placeholder="search by doctor name" />
                    
                    <div class="filter-group">
                        <select id="timeFilter" class="select-dropdown">
                            <option value="">Filter by Time Slot</option>
                            <option value="AM">Morning (AM)</option>
                            <option value="PM">Afternoon / Evening (PM)</option>
                        </select>
                        
                        <select id="specialtyFilter" class="select-dropdown">
                            <option value="">Filter by Specialty</option>
                            <option value="Cardiologist">Cardiologist</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Neurologist">Neurologist</option>
                            <option value="Pediatrician">Pediatrician</option>
                            <option value="General Physician">General Physician</option>
                        </select>
                    </div>
                </div>
                
                <div id="content"></div>
                
            </main>
            
            <div id="footer"></div>
            
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <div id="modal-body">
                </div>
        </div>
    </div>

    <script type="module" th:src="@{/js/services/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/components/doctorCard.js}" defer></script>

</body>
</html>